.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-link {
  display: flex;
  align-self: center;
  color: #c17924;
  text-decoration: none;
  font-weight: bold;
  padding-right: 20%;
}

.menu-link:hover {
  color: #72293c
}

.initial-login-link {
  display: flex;
  align-self: center;
  color: #c17924;
  text-decoration: none;
  font-weight: bold;
  padding-left: 20%;
}

.initial-login-link:hover {
  color: #72293c
}

.app-title {
  display: flex;
  align-self: center;
}