.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.menu-link {
  display: flex;
  align-self: center;
  color: #c17924;
  text-decoration: none;
  font-weight: bold;
  width: 10%;
}

.menu-link:hover {
  color: #72293c
}

.initial-login-link {
  display: flex;
  align-self: center;
  color: #c17924;
  text-decoration: none;
  font-weight: bold;
  width: 10%;
}

.initial-login-link:hover {
  color: #72293c
}

.title-container {
  display: flex;
  align-self: center;
}

.app-title {
  display: flex;
  align-self: center;
  font-family: 'Lemon', cursive;
  font-size: 200%;
}