.order-menu-checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-menu-item-names {
  font-weight: bold;
}

.selections {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  padding: 0.75vh 0;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 2px solid #72293c;
}